<a href="https://colab.research.google.com/github/ShutTheFuckUpDonny/AI_course/blob/master/%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F_03_Pandas_%D0%A7%D0%B0%D1%81%D1%82%D1%8C_1/Ultra_Light.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задание 1

Воссоздайте таблицу в виде Pandas DataFrame.

![image.png]()

**Решение:**

In [ ]:
import pandas as pd

d = [[0, 0, 0, 0, 0, 0, 0],
    [0, 1, 2, 3, 4, 5, 6],
    [0, 2, 4, 6, 8, 10, 12],
    [0, 3, 6, 9, 12, 15, 18]]
f = [[0 for i in range(7)],
    [i for i in range(7)],
    [i for i in range(0, 13, 2)],
    [i for i in range(0, 19, 3)]]
df = pd.DataFrame(d)
df
#df_f = pd.DataFrame(f)
#print(df_f)

### Задание 2

Сложите все значения в таблице по столбцам без использования циклов и условий.

**Решение:**

In [ ]:
df.sum()

0     0
1     6
2    12
3    18
4    24
5    30
6    36
dtype: int64

### Задание 3

При помощи метода Pandas выведите размерность матрицы. Убедитесь в корректности результата.

**Решение:**

In [ ]:
df.shape

(4, 7)

### Задание 4

При помощи метода Pandas выведите Series, содержащий данные из второго и пятого столбцов.

**Решение:**

In [ ]:
print(pd.Series(data=df[2]))
print(pd.Series(data=df[5]))

0    0
1    2
2    4
3    6
Name: 2, dtype: int64
0     0
1     5
2    10
3    15
Name: 5, dtype: int64

### Задание 5

Добавьте в таблицу столбец **7**, содержащий значения **0, 7, 14, 21.**

In [ ]:
# для себя замерил прост
%timeit df['7'] = [0, 7, 14, 21]
%timeit df['8'] = [i for i in range(0, 22, 7)]
df

The slowest run took 19.38 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 72.1 µs per loop
The slowest run took 11.49 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 73.8 µs per loop

   0  1  2  3   4   5   6   7   8
0  0  0  0  0   0   0   0   0   0
1  0  1  2  3   4   5   6   7   7
2  0  2  4  6   8  10  12  14  14
3  0  3  6  9  12  15  18  21  21