<a href="https://colab.research.google.com/github/MRS88/AI_course/blob/master/%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F_04_Pandas_%D0%A7%D0%B0%D1%81%D1%82%D1%8C_2/Pandas_2_%D0%A0%D0%B0%D0%B7%D0%B1%D0%BE%D1%80_%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B3%D0%BE_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_Ultra_Pro_%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82_%D0%98%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%98%D0%BD%D1%82%D0%B5%D0%BB%D0%BB%D0%B5%D0%BA%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1
Подгрузите данные 'data.csv' (возможно, придется указать кодировку encoding сp1250) в переменную data.

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

**Решение:**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Базы/data.csv', encoding='cp1250') # Загружаем данные из файла data.csv
data.index = pd.to_datetime(data.InvoiceDate) # Преобразуем колонку InvoiceDate к типу DateTime
data.head() # Выводим первые 5 строк ДатаФрейма data

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
data['TotalCost'] = data.Quantity * data.UnitPrice # Создаем новый столбец
data.head() # Выводим первые 5 строк сформированного ДатаФрейма

                    InvoiceNo StockCode  ...         Country  TotalCost
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...  United Kingdom      15.30
2010-12-01 08:26:00    536365     71053  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84406B  ...  United Kingdom      22.00
2010-12-01 08:26:00    536365    84029G  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84029E  ...  United Kingdom      20.34

[5 rows x 9 columns]

In [ ]:
data.TotalCost.resample('W').sum()

InvoiceDate
2010-12-05    181847.250
2010-12-12    270287.030
2010-12-19    207052.170
2010-12-26     89770.570
2011-01-02         0.000
2011-01-09     93720.930
2011-01-16    190994.960
2011-01-23    133782.910
2011-01-30    119136.810
2011-02-06    123642.180
2011-02-13    102296.930
2011-02-20    139664.580
2011-02-27    133069.930
2011-03-06    130435.560
2011-03-13    129180.960
2011-03-20    145262.610
2011-03-27    147909.800
2011-04-03    183501.710
2011-04-10    121598.220
2011-04-17    147459.771
2011-04-24    115461.250
2011-05-01     84382.660
2011-05-08    130354.310
2011-05-15    205445.230
2011-05-22    198031.530
2011-05-29    160569.820
2011-06-05    116932.520
2011-06-12    177916.870
2011-06-19    184016.500
2011-06-26    117086.710
2011-07-03    136287.440
2011-07-10    174659.170
2011-07-17    124163.170
2011-07-24    182513.960
2011-07-31    180814.851
2011-08-07    153176.200
2011-08-14    161417.020
2011-08-21    170724.890
2011-08-28    149603.500
2011-09-04    143819.060
2011-09-11    190513.470
2011-09-18    211722.620
2011-09-25    326156.721
2011-10-02    206858.231
2011-10-09    302466.590
2011-10-16    205734.640
2011-10-23    263762.220
2011-10-30    238642.190
2011-11-06    288266.770
2011-11-13    346560.140
2011-11-20    380407.570
2011-11-27    308185.020
2011-12-04    319874.990
2011-12-11    300605.220
Freq: W-SUN, Name: TotalCost, dtype: float64

### Задача 2

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого
* сделайте resampling в ежедневные данные,
* посчитайте скользящее среднее за 7 дней по столбцу TotalCost.

*Для решения второй части данной задачи потребуется самостоятельно найти способ определения скользящего среднего.*

**Решение:**

In [ ]:
data.TotalCost.resample('d').sum().rolling('7d').mean() # Делаем ресепл в ежедневные данные ('d') и считаем скользящее среднее ('7d')

InvoiceDate
2010-12-01    58635.560000
2010-12-02    52421.420000
2010-12-03    50154.433333
2010-12-04    37615.825000
2010-12-05    36369.450000
                  ...
2011-12-05    46026.327143
2011-12-06    43456.208571
2011-12-07    45731.242857
2011-12-08    50017.932857
2011-12-09    46453.000000
Freq: D, Name: TotalCost, Length: 374, dtype: float64

### Задача 3. GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам.

**Решение:**

In [ ]:
new_df = data.groupby(['Country']).TotalCost.resample('M').sum() # Группируем таблицу по странам и делаем ресемпл по месяцам
new_df.head(20) # Выводим первые 20 строк

Country    InvoiceDate
Australia  2010-12-31      1005.10
           2011-01-31      9017.71
           2011-02-28     14627.47
           2011-03-31     17055.29
           2011-04-30       333.40
           2011-05-31     13628.51
           2011-06-30     25164.77
           2011-07-31      4767.57
           2011-08-31     22489.20
           2011-09-30      5031.73
           2011-10-31     17150.53
           2011-11-30      6805.99
Austria    2010-12-31       257.04
           2011-01-31         0.00
           2011-02-28       518.36
           2011-03-31      1708.12
           2011-04-30       680.78
           2011-05-31      1249.43
           2011-06-30       -24.20
           2011-07-31      1191.95
Name: TotalCost, dtype: float64

### Задача 4. JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv).
* Назовите ее cards.
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards.
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc.

**Решение:**

In [ ]:
cards = pd.read_csv('/content/drive/My Drive/Базы/card_data.csv', encoding ='cp1250') # Загружаем файл card_data.csv
cards.head() # Выводим первые 5 строк

   CustomerID  TransactionNum
0     17850.0             127
1     17850.0             414
2     17850.0             296
3     17850.0             409
4     17850.0             309

In [ ]:
cards = cards[::100]

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Базы/data.csv', encoding='cp1250') # Загружаем данные из файла data.csv
data.index = pd.to_datetime(data.InvoiceDate) # Преобразуем колонку InvoiceDate к типу DateTime
data.drop('InvoiceDate', axis=1, inplace=True) # Удаляем столбец InvoiceDate
data.head()

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 7 columns]

In [ ]:
data = data[::100]

In [ ]:
new_data = data.merge (cards, how='left', on='CustomerID') # Делаем join

In [ ]:
new_data

        InvoiceNo StockCode  ...         Country  TransactionNum
0          536365    85123A  ...  United Kingdom             127
1          536365    85123A  ...  United Kingdom              22
2          536365    85123A  ...  United Kingdom             226
3          536365    85123A  ...  United Kingdom             323
4          536378    84519A  ...  United Kingdom             248
...           ...       ...  ...             ...             ...
1868059    581538     21355  ...  United Kingdom             117
1868060    581538     21355  ...  United Kingdom             288
1868061    581538     21355  ...  United Kingdom             171
1868062    581578     23298  ...         Germany             232
1868063    581587     22730  ...          France             149

[1868064 rows x 8 columns]

### Задача 5

Выведите квантили 0.4 и 0.6 по численным данным новой таблицы там, где это имеет смысл.

**Решение:**

In [ ]:
new_data[['UnitPrice', 'TransactionNum', 'Quantity']].quantile([0.4, 0.6]) # Выведем квантили для датафрейма dataTraining

     UnitPrice  TransactionNum  Quantity
0.4       2.46           189.0       1.0
0.6       4.13           298.0       2.0