<a href="https://colab.research.google.com/github/MRS88/AI_course/blob/master/%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F_04_Pandas_%D0%A7%D0%B0%D1%81%D1%82%D1%8C_2/Ultra_Pro%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1
Подгрузите данные 'data.csv' (возможно, придется указать кодировку encoding сp1250) в переменную data.

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

**Решение:**

In [ ]:
import pandas as pd

data = pd.read_csv('/content/data.csv', encoding='cp1250')
data['TotalCost'] = data.Quantity * data.UnitPrice
data.index = pd.to_datetime(data.InvoiceDate)
data.drop('InvoiceDate', axis=1, inplace=True)
data.TotalCost.resample('W').sum()
#data.TotalCost.resample('M').sum()
data.head()

                    InvoiceNo StockCode  ...         Country  TotalCost
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...  United Kingdom      15.30
2010-12-01 08:26:00    536365     71053  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84406B  ...  United Kingdom      22.00
2010-12-01 08:26:00    536365    84029G  ...  United Kingdom      20.34
2010-12-01 08:26:00    536365    84029E  ...  United Kingdom      20.34

[5 rows x 8 columns]

### Задача 2

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого
* сделайте resampling в ежедневные данные,
* посчитайте скользящее среднее за 7 дней по столбцу TotalCost.

*Для решения второй части данной задачи потребуется самостоятельно найти способ определения скользящего среднего.*

**Решение:**

In [ ]:
res_df = data.TotalCost.resample('D').sum()
res_df.rolling(window=7).mean()

InvoiceDate
2010-12-01             NaN
2010-12-02             NaN
2010-12-03             NaN
2010-12-04             NaN
2010-12-05             NaN
                  ...
2011-12-05    46026.327143
2011-12-06    43456.208571
2011-12-07    45731.242857
2011-12-08    50017.932857
2011-12-09    46453.000000
Freq: D, Name: TotalCost, Length: 374, dtype: float64

### Задача 3. GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам.

**Решение:**

In [ ]:
month = data.TotalCost.resample('M').sum()
data.groupby(['Country', pd.Grouper(freq='MS')])['TotalCost'].sum()

Country      InvoiceDate
Australia    2010-12-01      1005.10
             2011-01-01      9017.71
             2011-02-01     14627.47
             2011-03-01     17055.29
             2011-04-01       333.40
                              ...
Unspecified  2011-06-01       185.78
             2011-07-01      1425.41
             2011-08-01       531.03
             2011-09-01       286.85
             2011-11-01       965.75
Name: TotalCost, Length: 314, dtype: float64

### Задача 4. JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv).
* Назовите ее cards.
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards.
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc.

**Решение:**

In [ ]:
cards = pd.read_csv('/content/card_data.csv')
data_1 = data.iloc[:100].merge(cards.iloc[:100], on='CustomerID', how='left')

### Задача 5

Выведите квантили 0.4 и 0.6 по численным данным новой таблицы там, где это имеет смысл.

**Решение:**

In [ ]:
data_1.quantile([0.4, 0.6])

     Quantity  UnitPrice  CustomerID  TotalCost  TransactionNum
0.4       6.0       2.55     17850.0      15.30           250.0
0.6       6.0       3.39     17850.0      20.34           350.0