<a href="https://colab.research.google.com/github/ShutTheFuckUpDonny/AI_course/blob/master/%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F_01_%D0%A1%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81/Light.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1

С помощью функции input считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else, выведите на экран результат в зависимости от условий:

* если N нечетное, то выведите на экран "N нечетное",
* если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]",
* если N четное и больше 10, выведите на экран "N четное и N > 10",
* если N четное и меньше 5, выведите на экран "N четное и N < 5".

**Решение:**

In [ ]:
n = int(input())
if n % 2 == 1:
  print('n нечетное')
elif n % 2 == 0 and n > 10:
  print('n четное и n > 10')
elif n % 2 == 0 and n < 5:
  print('n четное и n < 5')  
else:
  print('n четное и принадлежит интервалу [5, 10]')

5
n нечетное

### Задача 2

Используя цикл while, посчитайте и выведите на экран сумму квадратов всех целых чисел от 15 до 22 включительно.

**Решение:**

In [ ]:
count = 15
res = 0
while count <= 22:
  res += count ** 2
  count += 1
print(res)

2780

### Задача 3

Используя цикл for, найдите сумму всех элементов заданного списка (без использования встроенных функций sum, len, sort и т. д.).

In [ ]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]

**Решение:**

In [ ]:
res = 0
for i in my_list:
  res += i
print(res)

880

### Задача 4

Используя цикл (любой), найдите значение максимального элемента списка из предыдущего задания (без использования встроенных функций max и т. д.). Можно использовать встроенные методы списков (любые). 

P.S. Не стесняйтесь гуглить :)

P.S. 2 Гуглить нужно фразу "алгоритм поиска максимального элемента массива".

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7.

**Решение:**

In [ ]:
max_index = 0
for i in range(1, len(my_list)):
    if my_list[i] > my_list[max_index]:
        max_index = i
print(my_list[max_index])

158

### Задача 5

Создайте словарь, соответствующий следующему описанию. 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, не съел ни одной.

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. Все совпадения случайны :). Для добавления Ромы используйте встроенный метод .update

**Решение:**

In [ ]:
candies = {'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0}
candies_roman = {'Рома': 4}
candies.update(candies_roman)
print(candies)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0, 'Рома': 4}